

.logo {
  display: flex;
  justify-content: center;
  width: 131px;
  height: 82.8px;
}

.icons {
  width: 189.32;
  height: 44px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 400px;
  height: 800px;
  background-color: #403D3D;
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
}

.or {
  display: flex;
  justify-content: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.mosh {
  display: flex;
  justify-content: center;
}
.social {
  display: flex;
  justify-content: center;
}
